body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav-bar{
    width: 1300px;
    margin:8px auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    align-items: center;
    position: relative;
    
}
.logo-colr{
    color:#ff385c;
}
.search-bar{
    border: 1px solid lightgray;
    border-radius: 60px;
    justify-content: space-between;
    
    margin-bottom: 9%;
    padding: 5px 12px;
    display: flex;
    align-items: center;
    
    width: 28%;
    
}
.search-bar a{
    text-decoration: none;
    color: #222222;
    padding-left: 8px;
    
        
    
}
.search-bar .last-text{
    color: #717171;
}
.btn{
    display: flex;
   background:none;
   align-items: center;
   border: none;
   color: #fff;
   border-radius: 50%;
   background: #ff385c;
   padding: 8px;
}
.nav-text{
    display: flex;
    /* justify-content: space-between; */
    margin-bottom: 100px;
    /* padding: 10px; */
    gap: 10px;

}
.user-btn{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
   padding: 10px;
  
    /* background-color: #717171;  */
    /* border-radius: 12px; */


}
.click-text {
    /* display: flex; */
    /* margin-left: 30px; */
    /* justify-content: space-between; */
    
}
.click-text a{
    text-decoration: none;
    margin-right: 30px;
    /* margin-top: 10px; */
    color: black;
    font-weight: 500;
    /* justify-content: space-between; */
} 
.nav-text{
    display: flex;
    justify-content: space-between;
    /* margin-top: 30px; */
    align-items: center;
}
.user-btn{
    display: flex;
    justify-content: space-between;
    /* padding: 20px; */
    border: 1px solid gray;
    border-radius: 20px;
    padding: 5px 10px;
    
}
.user-style{
    padding: 2px;
    color: rgb(61, 50, 50);
  
} 
hr{
    margin-top: 40px;
}
.menu-bar{
    position: absolute;
    display: flex;
    gap: 5px;
    /* margin: 10px auto; */
    top: 65px;
    align-items: center;
    

    
}
.all-logos{
    margin: 30px;
    padding: 5px;
    text-align: center;
    
}
.all-logos img{
    width: 35px;
}
.all-logos p{
    margin-top: 5px;
}
.main-content{
    display: flex;
    flex-wrap: wrap;
   margin: 30px;
    /* border: 1px solid red; */
    padding: 5px;
    position: relative;
    gap: 20px;
    

}
.beauty-content{
    height: 350px;
    width: 300px;
}
.beauty-content img{
    width: 100%;
    border-radius: 8px;
}

.rate-text{

    display: flex;
    justify-content: space-between;
    position: relative;
    
}
.text{
    position: absolute;
    bottom: 10px;
    
}
.photo-likes{
    position: absolute;
    right: 20px;
    top: 20px;
    color: #fff;
    
}
.sticky-name{

    position: sticky;
}